@model AlausDaryklosGamybosValdymoSistema.Models.TechnikosPrietaisoPrasymas

@{
  ViewData["Title"] = "Edit";
}

<h2>Redaguoti</h2>

<h4>IngredientoPrasymas</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Edit">
      @{
        var kui = ViewBag.KlientoUzsakymoId;
        var ii = Model.TechnikosPrietaisoId;
      }
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="@kui" />
      <div class="form-group">
        <label asp-for="TechnikosPrietaisoId" class="control-label">Pasirinkti iš galimų technikos prietaisų</label>
        <select asp-for="@ii" class="form-control" asp-items="ViewBag.TechnikosPrietaisoId"></select>
      </div>
      <div class="form-group">
        <label asp-for="PrietaisoKiekis" class="control-label"></label>
        <input asp-for="PrietaisoKiekis" class="form-control" />
        <span asp-validation-for="PrietaisoKiekis" class="text-danger"></span>
      </div>
      <div class="form-group" hidden>
        <label asp-for="Busena" class="control-label"></label>
        <input asp-for="Busena" class="form-control" />
        <span asp-validation-for="Busena" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Redaguoti technikos prietaisą" class="btn btn-default" />
      </div>
    </form>
  </div>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

